html {
    margin: 10px;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Arial;
    font-size: 14px;
}

label {
    font-weight: normal;
}

.col-padding-2px {
    padding-right: 2px;
    padding-left: 2px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    padding: 2px;
}
